
.sidebar-list{
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
}

.repo-list {
  flex: 2;
  position: absolute;
  width: 100%;
  bottom: 65px;
  top: 112px;
  overflow: auto;
}

.project-list {
  flex: 1;
}

.bottom-list {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navlink {
  display: block;
  text-decoration: none;
}

.navlink.active {
  background-color: rgba(0,0,0,0.1);
}